# Binaries
/bin/
*.exe
*.out

# Dependency directories
/vendor/
/go.sum

# IDE files
.idea/
.vscode/
*.swp

# Test files
*.test
*.prof

# Environment files
.env
.env.local

# OS metadata
.DS_Store

# Data files
.csv
